#box-login{
    margin-right: 30em;
    margin-left: 30em;
    margin-top: 13em;
    margin-bottom: 8em;
}

#PasswordInput{
    margin: auto;
}

#EmailInput{
    margin: auto;
}

body{
    position: relative;
    overflow-y: hidden;
}