<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" class="html__responsive">
    <head>
        <title>Password Manager | Alberto Lorenzini</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Password Manager for users, download and upload password">
        <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
        <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.css">
        <script type="text/javascript" src="../static/bootstrap/js/bootstrap.js"></script>
        <!-- <link rel="stylesheet" href="{% static '/bootstrap/js/bootstrap.css' %}"> -->
        <!-- <script src="{% static '/bootstrap/js/bootstrap.js' %}"></script> -->
    </head>
    <!--  BODY  -->
    <body data-bs-theme="dark">
      <!-- NAVBAR START -->
      <nav class="navbar navbar-expand-lg bg-body-tertiary" id="nav-bar">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img src="password_icon.ico" alt="Logo" width="35" height="30" class="d-inline-block align-text-top" href="#">
              Password Manager
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">File</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Save Password</a></li>
                    <li><a class="dropdown-item" href="#">Load Password</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
              </ul>
              <form class="d-flex" role="search" method="post">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </div>
        </nav>
        <!-- NAVBAR END -->
        <!-- FORM INPUT PASSWORD START -->
        <form class="row g-3 align-text-top" style="padding-block-start: 3ch; padding-left: 30ch;">
            <div class="col-1 form-floating">
              <input type="text" class="form-control" id="floatingInput" placeholder="Name">
              <label for="floatingInput">Name</label>
            </div>
            <div class="col-auto form-floating">
              <input type="text" class="form-control" id="floatingInput" placeholder="Username">
              <label for="floatingInput">Username</label>
            </div> 
            <div class="col-3 form-floating">
              <input type="password" class="form-control" id="floatingInput" placeholder="Password" aria-describedby="passwordHelpInline">
              <label for="floatingInput">Password</label>
            </div>
            <div class="col-3 form-floating">
              <input type="url" class="form-control" id="floatingInput" placeholder="URI:\\">
              <label for="floatingInput">URI:\\</label>
            </div>
            <div class="col-auto">
                <!-- SUBMIT FORM + TOAST START -->
                <button type="submit" class="btn btn-success btn-lg" id="liveToastBtn">Submit</button>
                <div class="toast-container position-fixed bottom-0 end-0 p-3">
                  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                      <img class="rounded me-2">
                      <strong class="me-auto">Bootstrap</strong>
                      <small>Now</small>
                      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                      Hello, world! This is a toast message.
                    </div>
                  </div>
                </div>
                <!-- SUBMIT FORM + TOAST END -->
            </div>
          </form>
        <!-- FORM INPUT PASSWORD END -->
        <div class="grid text-center">
          <table class="table table-striped table-hover table-bordered caption-top">
            <caption>List of passwords</caption>
            <thead>
              <tr>
                <th scope="col" class="col-1">N°</th>
                <th scope="col" class="col-1">Name</th>
                <th scope="col" class="col-2">Username</th>
                <th scope="col">Password</th>
                <th scope="col">URI:\\</th>
                <th scoper="col">Edit</th>
                <th scoper="col">Delete</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr>
                <th scope="col" class="col-1"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col" class="col-1"><button type="button" class="btn btn-primary">Edit</button></th>
                <th scope="col" class="col-1"><button type="button" class="btn btn-danger">Delete</button></th>
              </tr>
            </tbody>
            <tfoot class="table-group-divider">
              <tr>
                <th scope="col" class="col-1">N°</th>
                <th scope="col" class="col-1">Name</th>
                <th scope="col" class="col-2">Username</th>
                <th scope="col">Password</th>
                <th scope="col">URI:\\</th>
                <th scoper="col">Edit</th>
                <th scoper="col">Delete</th>
              </tr>
            </tfoot>
        </table>
        </div>
    </body>
</html>