{% extends "logreg_template.html" %}
{% block title %}Password Manager | Register{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="../static/login.css">
  <script type="text/javascript" src="../static/register.js"></script>
{% endblock %}

{% block button_label %}Register{% endblock %}
{% block label %}If you already have an account  <a href="{{ url_for('login')}}" target="_self">Login Now!</a>{% endblock %}
{% block body %}
  {{super()}}
{% endblock %}