<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" class="html__responsive">
    <head>
        <title>Password Manager | Alberto Lorenzini</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Password Manager for users, download and upload password">
        <link rel="shortcut icon" href="#">
        <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.css">
        <script type="text/javascript" src="../static/bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript" src="../static/bootstrap/js/snippets.js"></script>
        <script type="text/javascript" src="../static/script.js"></script>
    </head>
    <body data-bs-theme="dark">
        <nav class="navbar navbar-expand-lg bg-body-tertiary" id="nav-bar">
            <div class="container-fluid">
              <a class="navbar-brand" href="/homepage/">
                <img src="../static/password_icon.ico" alt="Logo" width="35" height="30" class="d-inline-block align-text-top" href="/homepage/">
                Password Manager
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/homepage/">Homepage</a>
                    </li>
                </ul>
              </div>
            </div>
        </nav>
        <div class="alert alert-success" role="alert">
          <h4 class="alert-heading">Logout</h4>
          <p>You have logout successfully!!</p>
          <hr>
          <p class="mb-0">Return to <a href="/login/" class="alert-link">login page</a></p>
        </div>
    </body>
</html>